
[submodule "projects/appoint-ready"]
	path = projects/appoint-ready
	url = https://huggingface.co/spaces/google/appoint-ready
[submodule "projects/multiagent_chat"]
	path = projects/multiagent_chat
	url = https://github.com/pmanko/medgemma_chat.git
	branch = multiagent
